.not-found-wrapper {
  text-align:center;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#return-home-box:hover {
  background-color: #296e89;
  color: white;
}

#return-home-box {
  font-size: 2rem;
  background-color: #64b2d1;
  color: white;
  text-decoration: none;
}
