.title {
  text-align: left;
  font-size: 3rem;
  padding-left: 33%;
}

.about-me {
   text-align: left;
   line-height: 160%;
   padding-left: 10%;
   padding-top: 3%;
}

.profile {
  width: 40vh;
  position: relative;
  display: block;
  float:left;
}

.about-wrapper {
  float:right;
  width: calc(100% - 40vh);
}

.wrapper {
  overflow: hidden;
}
