.title {
  text-align: center;
  font-size: 3rem;
  margin-right:30%;
}

.about-me {
   text-align: center;
   line-height: 160%;
   margin-right: 30%;
}

.profile {
  width: 40vh;
  position: relative;
  display: block;
  float:right;
}

.about-wrapper {
  float:left;
  width: calc(100% - 40vh);
}

.wrapper {
  overflow: hidden;
}

.bar-graph-wrapper {
  width: calc(100% - 50vh);
  float:left;
}

.bar-graph-wrapper > div {
  margin-bottom: 8px;
  width: 100%;
}

.bar-graph-wrapper .skill {
  border-radius: 3px 0px 0px 3px;
  padding-top: 1.5%;
  width: 20%;
  background-color:#296e89;
  color: white;
  float:left;
  height: 45px;
  text-align:center;
}

.bar-graph-wrapper .percentage {
  padding-right: 7px;
  padding-top: 10px;
  color: white;
  float:right;
  height: 45px;
}

.bar {
  float:left;
  width:100%;
}

.generic-bar {
  border-radius: 0px 3px 3px 0px;
  background-color: #64b2d1;
  height: 45px;
  overflow: hidden;
  position: relative;
  float:left;
}

[data-aos="anim-bar-one"] {
    width: 0; 
}
[data-aos="anim-bar-one"].aos-animate {
    width: 70%;
 }

[data-aos="anim-bar-two"] {
    width: 0; 
}
[data-aos="anim-bar-two"].aos-animate {
    width: 60%;
}

[data-aos="anim-bar-three"] {
    width: 0; 
}
[data-aos="anim-bar-three"].aos-animate {
    width: 25%;
}

[data-aos="anim-bar-four"] {
    width: 0; 
}
[data-aos="anim-bar-four"].aos-animate {
    width: 15%;
}

[data-aos="anim-bar-five"] {
    width: 0; 
}
[data-aos="anim-bar-five"].aos-animate {
    width: 35%;
}

[data-aos="anim-bar-six"] {
    width: 0; 
}
[data-aos="anim-bar-six"].aos-animate {
    width: 50%;
}

@media only screen and (max-width: 800px) {
  .bar-graph-wrapper {
    width: 100%; 
  }
}

@media only screen and (max-width: 600px) {
  .title {
     margin-right: 0px;
  }

  .about-me {
     text-align: center;
     line-height: 160%;
     margin-right: 0px;
  }
  
  .profile {
    float:none;
    margin-left: auto;
    margin-right: auto;
  }

  .about-wrapper {
    float:none;
    width:100%;
  }

  .bar-graph-wrapper .skill {
    width: 25%;
  }
}

@media only screen and (max-width: 480px) {
  .bar-graph-wrapper .skill {
     padding-top: 2.5%;
  }
}

@media only screen and (max-width: 320px) {
  .bar-graph-wrapper .skill {
     padding: 0px 0px 0px 0px;
  }
}

/*iPad Pro*/
@media only screen and (width: 1024px) and (height: 1366px) {
  .title {
    margin-right: 0px;
    text-align: center;
  }

  .about-me {
     text-align: center;
     line-height: 160%;
     margin-right: 0px;
  }
  
  .profile {
    float:none;
    margin-left: auto;
    margin-right: auto;
  }

  .about-wrapper {
    float:none;
    width:100%;
  }

  .bar-graph-wrapper .skill {
    width: 25%;
    padding-top: 1%;
  }

  .bar-graph-wrapper {
    width: 100%; 
  }
}
