.title {
  text-align: left;
  font-size: 3rem;
  padding-left:30%;
}

.about-me {
   text-align: left;
   line-height: 160%;
   padding-right: 5%;
   padding-top: 2%;
}

.profile {
  width: 40vh;
  position: relative;
  display: block;
  float:right;
}

.about-wrapper {
  float:left;
  width: calc(100% - 40vh);
}

.wrapper {
  overflow: hidden;
}

.bar-graph-wrapper {
  width: calc(100% - 50vh);
  float:left;
}

.bar-graph-wrapper > div {
  margin-bottom: 8px;
  width: 100%;
}

.bar-graph-wrapper .skill {
  border-radius: 3px 0px 0px 3px;
  padding-top: 2%;
  width: 20%;
  background-color:#296e89;
  color: white;
  height: 100%;
  float:left;
  height: 45px;
  text-align:center;
}

.bar {
  float:left;
  width:100%;
}

.generic-bar {
  border-radius: 0px 3px 3px 0px;
  background-color: #64b2d1;
  height: 45px;
  overflow: hidden;
  position: relative;
  float:left;
}

.bar-graph-wrapper .bar-one {
  width: 75%;
  animation: 5s anim-lightspeed-in ease forwards;
}
 
.bar-graph-wrapper .bar-two {
  width: 60%;
}

.bar-graph-wrapper .bar-three {
  width: 30%;
}

.bar-graph-wrapper .bar-four {
  width: 20%;
}

.bar-graph-wrapper .bar-five {
  width: 40%;
}

.bar-graph-wrapper .bar-six {
  width: 50%;
}

@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .title {
    padding: 0px 0px 0px 0px;
    text-align: center;
  }

  .bar-graph-wrapper {
    width: 100%; 
  }
}

@media only screen and (max-width: 600px) {
  .about-me {
     text-align: center;
     line-height: 160%;
     padding: 0px 0px 0px 0px;
  }
  
  .profile {
    float:none;
    margin-left: auto;
    margin-right: auto;
  }

  .about-wrapper {
    float:none;
    width:100%;
  }

  .bar-graph-wrapper .skill {
    width: 25%;
  }
}

@media only screen and (max-width: 480px) {
  .bar-graph-wrapper .skill {
     padding-top: 2.5%;
  }
}

@media only screen and (max-width: 320px) {
  .bar-graph-wrapper .skill {
     padding: 0px 0px 0px 0px;
  }
}

/*iPad Pro*/
@media only screen and (width: 1024px) and (height: 1366px) {
  .title {
    padding: 0px 0px 0px 0px;
    text-align: center;
  }

  .about-me {
     text-align: center;
     line-height: 160%;
     padding: 0px 0px 0px 0px;
  }
  
  .profile {
    float:none;
    margin-left: auto;
    margin-right: auto;
  }

  .about-wrapper {
    float:none;
    width:100%;
  }

  .bar-graph-wrapper .skill {
    width: 25%;
    padding-top: 1%;
  }

  .bar-graph-wrapper {
    width: 100%; 
  }
}
